<h2> Customer List</h2>
<div class="alert alert-success" *ngIf="msg"> {{msg}}</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Sr. No. </th>
            <th> Customer Name</th>
            <th> Email ID </th>
            <th> Mobile Number</th>
            <th> Address</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i=index">
            <td> {{i+1}} </td>
            <td> {{ customer.firstName + ' '+ customer.lastName }} </td>
            <td> {{ customer.emailId }} </td>
            <td> {{ customer.mobileNumber }} </td>
            <td> {{ customer.address }} </td>
            <td>
                <a [routerLink]="['/customer', customer.customerId, 'edit']" class="btn btn-info"> Update</a>
                <button (click)="deleteCustomer(customer.customerId)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
            </td>
        </tr>
    </tbody>
</table>